<h1>List of class bookings</h1>
<h2><a href="/new/booking">Add a new booking</a></h2>
<hr>
<% @bookings.each do |booking|%>
<ul>
<li><%= booking.nice_time %> [<a href="/bookings/<%= booking.id %>">view/edit</a>]</li>
<li>Class: <%= booking.return_class['name']%></li>
<li>Signed up: <%= Booking.count_enrolled_members(booking.id) %> of <%= booking.capacity %></li>
</ul>
<hr>
<% end %>
