<h1><%= @booking.return_class['name']%> with <%= @booking.return_class['instructor'] %> at <%= @booking.start_time %></h1>
<form onsubmit="return confirm('Are you sure you wish to delete this booking?')" action="/bookings/<%= @booking.id %>/delete" method="post">
  <td><input type="submit" value="Delete"></td>
</form>
<form action="/bookings/<%= @booking.id %>/update" method="post">
  <table>
    <tr>
      <td>Start time: </td>
      <td><input id="start_time" type="text" name="start_time" value="<%= @booking.start_time%>" required></td>
    </tr>
    <tr>
      <td>Gym class type: </td>
      <td>
        <select id ="gym_class_id" name="gym_class_id">
          <% @gymclasses.each do |gymclass| %>
          <option value="<%= gymclass.id %>"><%= gymclass.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
