<h1><%= @instructor.full_name %></h1>
<form id="instructor" onsubmit="return confirm('Are you sure you wish to delete this instructor?')" action="/instructors/<%= @instructor.id %>/delete" method="post">
  <td><input type="submit" value="Delete"></td>
</form>
<form action="/instructors/<%= @instructor.id %>/update" method="post">
  <table>
    <tr>
      <td>First name: </td>
      <td><input id="first_name" type="text" name="first_name" value="<%= @instructor.first_name%>" required></td>
    </tr>
    <tr>
      <td>Last name: </td>
      <td><input id="last_name" type="text" name="last_name" value="<%= @instructor.last_name%>" required></td>
    </tr>
    <tr>
      <td>Profile: </td>
      <td><input id="profile" type="text" name="profile" value="<%= @instructor.profile%>" required></td>
    </tr>
    <tr>
      <td><input type="submit" value="Update"></td>
    </tr>
  </table>
</form>
